<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create New Post</h1>
    <nav>
      <ul>
        <li><a href="/photo">Back</a></li>
      </ul>
    </nav>

    <form action="/photo" method="POST">
    User </br>  <input type="text" name="username"></br>
    img </br> <input type="text" name="img"></br>
    about the photo </br> <input type="text" name="about"></br>
    <input type="submit" value="Create Post">
    </form>

  </body>
</html>
