<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><$=photo.name%></h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/photo">Back to Photo Index</a></li>
      </ul>
    </nav>
  </body>
</html>
