<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Photo Drop!</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
    <main>
      <form action="/user" method="POST">
        username: <input type="text" name="username"><br/>
        password: <input type="text" name="password"><br/>
        <button type="submit" name="button">Create User</button></br>
      </form>
    </main>

  </body>
</html>
