<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Photo Drop!</h1>
    <nav>
      <ul>
        <li><a href="/user">Go Back</a></li>
      </ul>
    </nav>
    <main>
      <form action="/user" method="POST">
        <label>Photos</label>
        <br/>
        <select name="photoId">
        <%  for (let i = 0; i < photo.length; i++) { %>
            <option value="<%=photo[i].id%>"><%=photo[i].username%></option>
        <%  } %>
        </select>
        <br/>
        username: <br/> <input type="text" name="username"><br/>
        password: <br/> <input type="text" name="password"><br/>
        <button type="submit" name="button">Create User</button></br>
      </form>
    </main>

  </body>
</html>
