<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1><%=user.username %></h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/user">Back to User Index</a></li>
          <li><a href="/user/<%=user.id%>/edit">Edit User</a></li>
        </ul>
      </nav>
    </header>

  </body>
</html>
