body {
  background-color: lightblue;
}
h1 {
  text-align: center;
  font-family: courier;
}

h3 {
  font-family: courier;
}

body {
  font-size: 1.8rem;
  line-height: 1.618;
  max-width: 38em;
  margin: auto;
  color: #4a4a4a;
  background-color: #f9f9f9;
  padding: 13px;
}

img {
display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
}

a {
  text-decoration: none;
  float: left;
  font-size: 17px;
  padding: 14px 16px;
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto;
  }

ol {
  list-style-type: none;
  margin: 10;
  padding: 100;
  width: 25%;
  height: 50%;
  position: fixed;
  overflow: auto;
}
