body {
  background-color: lightblue;
}
h1 {
  text-align: center;
  font-family: courier;
}

h3 {
  font-family: courier;
}

body {
  padding: 40px 40px 40px 40px;
  margin: 50px 60px;
}

img {
display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
}

a {
  text-decoration: none;
}
