<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>Food Index Page</h1>

  <% for (let i = 0; i < food.length; i++ ) { %>
      <ul>
        <%=  food[i].name %> <br/>
        <%=     food[i].cuisine %> <br/>
        <%=     food[i].calories %> <br/>
      <%  if (food[i].hot === true) { %>
          Hot
      <%  } else { %>
          Cold
      <%  } %>

      </ul>
  <% } %>

    <nav>
<a href="/food/new" Add another Food Item </a>

    </nav>
  </body>
</html>
