<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Food Page</h1>

<form action="/food" method="POST">
  Name: <input type="text" name="name"><br/>
  Cuisine: <input type="text" name="cuisine"><br/>
  Calories: <input type="text" name="calories"><br/>
  Hot: <input type="checkbox" name="hot">
  <input type="submit">
</form>


  </body>
</html>
