<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>Food Show Page</h1>
  The <%= food.name %> is <%= food.cuisine%>

  <% if(food.hot === true) {%>

  It is hot

  <% } else { %>

  <h2> It is cold</h2>

  <% } %>

</body>

</html>
